meta(charset='utf-8')
meta(name='viewport', content='width=device-width')
title= site_title
meta(name='description', content=description)
!= partial('social/index')
link(rel='author' href='/humans.txt')
link(rel='stylesheet', href='/static/style/bundle.css')
