section.enja-oss.unit
  .section-inner
    .content
      != partial('_content/enjaoss')

section.enja-article.unit
  .section-inner
    .content
      != partial('_content/enjaarticle')

section.enja-howto.unit.tba
  .section-inner
    .content
      != partial('_content/enjahowto')

section.enja-book.unit.tba
  .section-inner
    .content
      != partial('_content/enjabook')
